# Google Cloud Configuration
GCP_PROJECT_ID=media-dna-505118
GCP_LOCATION=us-central1

# ClickHouse Configuration
CLICKHOUSE_HOST=nhr6eqvxbt.europe-west4.gcp.clickhouse.cloud
CLICKHOUSE_PORT=8443
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=<psw>
CLICKHOUSE_SECURE=True